.menu {
    z-index: 100;
    font-family: Roboto, "Noto Sans KR", "Droid Sans", AppleSDGothicNeo-Regular, "Malgun Gothic", Dotum, sans-serif;
    background: rgb(244, 245, 248);
    overflow: unset;
    height: auto;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 100%;
    min-width: 1400px;
    margin-bottom: -60px;
    color: rgb(51, 51, 51);
    position: sticky;
    top: 0px;   
}

.menu_1 {
    box-sizing: border-box;
    width: 1400px;
    height: 80px;
    margin: 0px auto;
    padding: 0px 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.menu_list {
    line-height: 22px;
    font-weight: inherit;
    font-size: 15px;
    color: inherit;
}

.login {
    flex: 1 1 0%;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}
.menu_list2 > a {
    margin-left: 30px;
}
.signin {
    line-height: 19px;
    font-weight: inherit;
    font-size: 13px;
    color: inherit;
}

.list_1 {
    display: flex;
    margin-left: 60px;
}

ol, ul, li {
    list-style: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

img {
    border: 0;
    vertical-align: top;
}

header {
    display: block;
}

nav {
    display: block;
}

div {
    display: block;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, cite, code, del, dfn, em, img, ins, q, s, samp, strike, strong, sub, sup, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, embed {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
}

body {
    background: #fff;
}