* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    width: auto;
    margin: 10px auto;
}
header {
    width: auto;
    height: 150px;
    background-color: #fff;
}
section {
    width: auto;
    height: 700px;
    background-color: #acacac;
}

footer {
    width: auto;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #888888;
}

table {
    float: right;
    margin: 5px;
    padding: 5px;
}
ul {
    overflow: hidden;
    width: auto;
    margin: 0 30px;
    list-style-type: none;
}
ul li {
    width: auto;
    display: inline-block;
    text-align: justify;
    padding: 10px;
    margin-right: 50px;
}

button {
    margin: 1px;
    padding: 1px;
}

a {
    text-decoration: none;
}