* {
    box-sizing: border-box;
}

fieldset {
    width:500px;
    margin: 20px 0px;
}
ul, ol {
    line-height: 40px;
}

select {
    width: 177px;
}

input {
    width: 177px;
}

select option {
    display: flex;
}

label {
    float: left;
    width: 80px;
}

select option > span {
    justify-content: space-between;
}